.search-dropdown{
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000;
    border: 1px solid #e5e5e5;
    top: 38px;
    padding: 10px;
}

.suggestion-item{
   height: 35px;
   font-size: 14px;
   cursor: pointer;
}

.suggestion-item:hover{
    background-color: #e5e5e5;
}

.shoporia-pointer{
    cursor: pointer;
}

.shoporia-mt{
    margin-top: 90px;
}

.account:hover{
    background-color: rgba(230, 240, 255, 1);
}

.account-div-height{
    height: 35px;
    width: auto;
    margin-top: 10px;
    color: #212121;
}

.product-card {
  transition: transform 0.1s ease;
}

.product-card:hover {
  transform: scale(1.15);
  z-index: 2;
}
