.display-block{
    display: block !important;
}

.display-none{
    display: none !important;
}

.logo-img{
    width: 200px;
    height: 60px;
    margin-top: 20px;
}

.search-dropdown{
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000;
    border: 1px solid #e5e5e5;
    top: 38px;
    padding: 10px;
}

.suggestion-item{
   height: 35px;
   font-size: 14px;
   cursor: pointer;
}

.suggestion-item:hover{
    background-color: #e5e5e5;
}

.shoporia-pointer{
    cursor: pointer;
}

.shoporia-mt{
    margin-top: 90px;
}

body{
    font-family: Nunito;
}

.account:hover{
    background-color: rgba(230, 240, 255, 1);
}

.account-div-height{
    height: 35px;
    width: auto;
    margin-top: 10px;
    color: #212121;
}